target
logs

pom.xml.*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# IntelliJ IDEA 
.idea
*.iws
*.iml
*.ipr

.vscode

# vim
*.swp

# spring boot
application-dev.properties
