<script language="javascript">
    var data ;
    var config = {} ;
    <#if inviteData??>
    <#include "point/fingerprint.js" >

    var cskefuOnlineUserId;
    var ukefu = {
        time : new Date().getTime(),
        chat : "/im/index.html?appid=${appid!''}<#if id??>&id=${id}</#if><#if aiid??>&aiid=${aiid}</#if><#if exchange??>&exchange=${exchange}</#if><#if name??>&name=${name}</#if><#if email??>&email=${email}</#if><#if phone??>&phone=${phone}</#if>&orgi=${orgi!''}&client=${client}&type=text<#if skill??>&skill=${skill}</#if><#if agent??>&agent=${agent}</#if>" ,
        config : function(d){
            data = d ;
            if(d.id != null && d.id != ''){
                cskefuOnlineUserId = d.id ;
            }
        },
        openChatDialog:function(){
            var url = ukefu.chat ;
            if(data){
                if(data.id){
                    url = url + "&id="+data.id ;
                }
                if(data.name){
                    url = url + "&name="+encodeURIComponent(data.name);
                }
                if(data.email){
                    url = url + "&email="+encodeURIComponent(data.email);
                }
                if(data.phone){
                    url = url + "&phone="+encodeURIComponent(data.phone);
                }
            }
            window.location.replace(url+"&t="+new Date().getTime());
        }
    }
    Fingerprint2.get({extraComponents: [<#if channelVisitorSeparate?? && channelVisitorSeparate == true>{key: "cskefuAppId", getData: function(done, options){done("${appid!''}")}},</#if>
    {
        key: "rndId",
            getData(done, options){
        var rnd = '';
        if(localStorage){
            rnd = localStorage.finger;
            if(!rnd){
                rnd = Math.random();
                localStorage.finger = rnd;
            }
        }

        done(rnd);
    }
    }
    ]}, function(components){
        var glue = components.map(function (component) { return component.value })
        cskefuOnlineUserId =  Fingerprint2.x64hash128(glue.join(''), 31)
        ukefu.chat = ukefu.chat + "<#if userid??>&userid=${userid}<#else>&userid="+cskefuOnlineUserId+"</#if>&sessionid=${sessionid!''}<#if ai??>&ai=${ai}</#if><#if title??>&title=${title?url}</#if><#if traceid??>&url=${url?url}</#if><#if traceid??>&traceid=${traceid}</#if>";
        ukefu.openChatDialog();
    });
    </#if>
</script>
